body {
    background: gray;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    
   
}

.sleepy {
    text-align: center;
    color: white;
    background: black;
    font-family: arial;
   padding-top: 5px;
   padding-bottom: 8px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 36px;
}
.arms{ width:2400px;
       height: 150px;
       margin-bottom: 50px;
       margin-top: 50px;
       margin-right: 50px;
       margin-left:50px;
      
    background-color: white;
}
.legs {
    width: 2400px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightgray;
    padding-left: 10px;
}
.head {
    width: 2400px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightgray;
    padding-left: 10px;

}
.feet {
    width: 2400px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightgray;
    padding-left:10px;
}
.hands {
    width: 2400px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightgray;
    padding-left: 10px; 
}

a:visited{ color: blue;}
