body{
background-color: #F8F8FF;
font-family: FreeMono, monospace;
font-weight: 300;
}
.tired{
text-align: center;
font-family: FreeMono, monospace;
font-weight: 300;
color: 	#ADD8E6;

}
#name{
font-size: 50px;
margin-bottom:10px;
margin-top:25px;
}
#float{
    float:left;
}
.navigation{
    margin-bottom: 25px;
}
#home{
 font-size: 25px; 
 margin: 25px; 
    padding-bottom:25px;
}
#about{
  font-size: 25px; 
    margin: 25px;
    padding-bottom: 25px;
}
#portfolio{
    font-size: 25px;
    margin: 25px;
    padding-bottom:25px;
}
#projects{
    font-size:25px;
    margin: 25px;
    padding-bottom:25px;
}
img {

margin-top: 50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 5%;
}
.facts{
text-align: center;
font-family: FreeMono, monospace;
font-weight: 300;
color: 	#ADD8E6; 
}

.wild{
    display:block;
    margin-left:450px;
    margin-right:auto;
    
}
.hello{
text-align: center;
font-family: FreeMono, monospace;
font-weight: 300;
color: 	#ADD8E6; 
}
.reminder{
    margin-top: 75px;
}
.pic_Slides {
    margin-left: 400px;
}
.button{
    margin-left: 400px;
}
.about_text {
  font-family: FreeMono, monospace;
font-weight: 300;
}

a:link {
    color: 	#ADD8E6;
    text-decoration: none;
}

a:visited {
    color: 	#ADD8E6;
    text-decoration: none;
}
.blonde {
    font-size: 25px; 
 margin: 25px; 
    padding-bottom:25px;
}
