body{
background-color: #F8F8FF;
font-family: FreeMono, monospace;
font-weight: 300;
}
.tired{
text-align: center;
font-family: FreeMono, monospace;
font-weight: 300;
color: 	#ADD8E6;

}
#name{
font-size: 50px;
margin-bottom:10px;
margin-top:25px;
}
#float{
    float:left;
}
.navigation{
    margin-bottom: 25px;
}
#home{
 font-size: 25px; 
 margin: 25px; 
    padding-bottom:25px;
}
#about{
  font-size: 25px; 
    margin: 25px;
    padding-bottom: 25px;
}
#portfolio{
    font-size: 25px;
    margin: 25px;
    padding-bottom:25px;
}
#projects{
    font-size:25px;
    margin: 25px;
    padding-bottom:25px;
}
img {

margin-top: 50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 5%;
}
.facts{
text-align: center;
font-family: FreeMono, monospace;
font-weight: 300;
color: 	#ADD8E6; 
}
#music{
    font-size: 30px;
}
#lying{
    font-size: 45px;
}
.wild{
    display:block;
    margin-left:450px;
    margin-right:auto;
    
}
.hello{
text-align: center;
font-family: FreeMono, monospace;
font-weight: 300;
color: 	#ADD8E6; 
}
.reminder{
    margin-top: 75px;
}
* {box-sizing: border-box} /*?*/

.slideshow-container{
    max-width: 1000px;
    position:relative;
    margin: auto;
}
.mySlides{
    display:none;
} /* hides images by default*/

.prev, .next{
    cursor: pointer;
    position: absolute;
    top:50%;
    width:auto;
    margin-top: -22px;
    padding: 16px;
    color: #ADD8E6;
    font-weight: 400;
    font-size: 16px;
    transition: 0.6s ease; /*?*/
    border-radius: 0 3px 3px 0
    user-select: none; /*?*/
}

.next{
    right:0;
    border-radius: 3px 0 0 3px;
} /* Position the "next button" to the right */

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8); /* change color */
    
}

.text{
    color: black; /*change color*/
    font-size: 16px;
    padding: 7px 11px;
    position: absolute;
    top:0;
}

.dot{
    cursor: pointer;
    height:16px;
    width:16px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{ /* frames?*/
    from{opacity: .6}
    to{opacity: 1}
}
@keyframes fade{
    from{opacity: .6}
    to {opacity: 1}
}